.wrapper {
  // margin-top: var(--default-layout-header-height);
  margin-right: 24px;
  margin-left: 94px;
  padding: 24px 0;
  margin-top: 20px;
  //   width: 692px;
  //   max-width: 692px;
  //   height: 553px;
  // background: #000;
}
