.wrapper {
  padding: 9px 16px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
}
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.infor {
  flex: 1;
  margin-left: 12px;
}
.name {
  font-weight: 500;
  line-height: 21px;
}
.usename {
  color: rgba(22, 24, 35, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.icon-check {
  color: rgb(32, 213, 236);
  margin-left: 8px;
}
